// from https://google-webfonts-helper.herokuapp.com/

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url('.{{ (resources.Get "fonts/Roboto-700.woff2").RelPermalink }}')
      format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url('.{{ (resources.Get "fonts/Roboto-700-italic.woff2").RelPermalink }}')
      format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url('.{{ (resources.Get "fonts/Roboto-400.woff2").RelPermalink }}')
      format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url('.{{ (resources.Get "fonts/Roboto-400-italic.woff2").RelPermalink }}')
      format("woff2");
}

// 1. Your custom variables and variable overwrites.

$sovbb-red: rgb(227, 6, 19);
$sovbb-black: #000;
$sovbb-white: #fff;
$global-2xlarge-font-size: 1.875rem; // H1
$global-xlarge-font-size: 1.625rem; // H2
$global-large-font-size: 1.312rem; // H3
$global-medium-font-size: 1.125rem; // H4
$base-heading-color: $sovbb-black;
$base-body-color: $sovbb-black;
$global-link-color: $sovbb-red;
$global-font-family: Roboto, sans-serif;
$global-accent-color: $sovbb-red;
$offcanvas-bar-width: 320px;
$inverse-global-color: $sovbb-white;

$navbar-background: $sovbb-white;
$navbar-nav-item-text-transform: uppercase;
$navbar-nav-item-font-style: bold;
$navbar-nav-item-color: $sovbb-black;
$navbar-nav-item-hover-color: $sovbb-red;
$navbar-nav-item-active-color: $sovbb-red;
$navbar-nav-item-padding-horizontal: 1rem;
$navbar-nav-item-font-size: 1rem;
$navbar-dropdown-nav-font-size: 1rem;
$navbar-dropdown-shift-margin: -10px;
$navbar-dropdown-viewport-margin: 0;
$navbar-dropdown-nav-item-color: $sovbb-black;
$navbar-dropdown-nav-item-active-color: $sovbb-red;
$navbar-dropdown-nav-item-hover-color: $sovbb-red;

$breadcrumb-item-font-size: 0.8rem;
$breadcrumb-item-color: $sovbb-black;
$breadcrumb-item-hover-color: $sovbb-red;
$breadcrumb-item-active-color: $sovbb-red;
$breadcrumb-divider: "\\";
$breadcrumb-divider-margin-horizontal: 0.5em;
$breadcrumb-divider-color: $sovbb-black;
//$offcanvas-bar-color-mode: light;
//$offcanvas-bar-background: $sovbb-white;

// 2. Import default variables and available mixins.
@import "../uikit/src/scss/variables-theme.scss";
@import "../uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
// @mixin hook-card() {
//   color: #000;
// }

// 4. Import UIkit.
@import "../uikit/src/scss/uikit.scss";

.sovbb-navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  .uk-logo {
    @media (min-width: $breakpoint-medium) {
      margin-left: -140px;
    }
    img {
      height: 60px;
    }
  }
}

.sovbb-intro {
  margin-top: 2ex;
  @media (min-width: $breakpoint-medium) {
    font-size: 2rem;
  }
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 2ex;
}

.sovbb-reasons {
  hyphens: auto;
  -webkit-hyphens: auto;
  em {
    font-style: normal;
    color: $sovbb-red;
  }
  .sovbb-reason {
    break-inside: avoid;
    text-indent: -1.2em;
    padding-left: 1.2em;
    margin-bottom: 1ex;
  }
}

.sovbb-invite {
  padding-top: 3ex;
  padding-bottom: 8ex;
  margin-top: 4ex;
  background-color: $sovbb-red;
  color: $sovbb-white;
  @media (min-width: $breakpoint-medium) {
    padding-bottom: 3ex;
  }
  h2 {
    font-weight: normal;
    font-size: 2rem;
    color: $sovbb-white;
    margin-bottom: 0.5ex;
  }
  p {
    hyphens: auto;
    -webkit-hyphens: auto;
    margin-bottom: 1ex;
    margin-top: 1.5ex;
    padding: 0;
  }
  dl {
    margin-top: 1ex;
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: max-content;
    column-gap: 1em;
    row-gap: 0.5ex;
    dt {
      grid-column: 1;
      font-weight: normal;
    }
    dd {
      grid-column: 2;
    }
  }
}

.sovbb-body {
  hyphens: auto;
  -webkit-hyphens: auto;
}

.sovbb-footer {
  margin-top: 8ex;
  font-size: 0.8rem;
  background-color: $sovbb-red;
  color: $sovbb-white;
  padding-top: 4ex;
  padding-bottom: 4ex;
  a {
    color: $sovbb-white;
  }
}

.sovbb-nav {
  .uk-logo {
    margin-left: -7rem;
    img {
      height: 8rem;
    }
  }
}

.sovbb-button-member {
  background-color: $sovbb-white;
  color: $sovbb-black;
  border-color: $sovbb-red;
  border-width: 3px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 100%;
  border-radius: 50%;
  font-weight: normal;
  text-align: center;
  transform: rotate(-15deg);
  width: 10ex;
  height: 10ex;
  @media (min-width: $breakpoint-medium) {
    right: -4ex;
    font-size: 2rem;
  }
  font-size: 1.5rem;
  right: 1ex;
  bottom: -4ex;
  position: absolute;
  &:hover {
    text-decoration: none;
    color: $sovbb-red;
  }
}

.sovbb-button-rsvp {
  background-color: $sovbb-white;
  color: $sovbb-black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 100%;
  font-weight: normal;
  text-align: center;
  transform: rotate(-15deg);
  @media (min-width: $breakpoint-medium) {
    right: 4ex;
    bottom: 3ex;
    font-size: 2rem;
  }
  font-size: 1.5rem;
  right: 3ex;
  bottom: -1ex;
  padding: 0.5ex;
  position: absolute;
  &:hover {
    text-decoration: none;
    color: $sovbb-red;
  }
}

// color settings are necessary because the offcanvas menu
// seems to be invered and I can not find the reseaon for this.
.sovbb-mobile-menu {
    .sovbb-x {
        width: 2rem;
    }
  .uk-offcanvas-bar {
    background-color: $sovbb-white;
    font-size: 1.4rem;
    a {
      color: $sovbb-black;
    }
    .uk-active > a {
      color: $sovbb-red;
    }

    .uk-nav {
      margin-top: 3ex;
      > li {
        position: relative;
        > a {
          color: $sovbb-black;
          display: block;
          margin: 0.4ex;
        }
        &.uk-active > a {
          color: $sovbb-red;
        }
        .uk-nav-sub {
            font-size: 1.3rem;
             & > li > a {
          display: block;
          margin-bottom: 1.4ex;
        }
    }
      }
    }
  }
}

.sovbb-hero {
  height: 190px;
  background-color: $sovbb-red;
  div {
    position: relative;
    height: 100%;
    img {
      position: absolute;
      height: 100%;
    }
    .sovbb-hero-redbar {
      left: -300px;
      @media (min-width: $breakpoint-medium) {
        left: auto;
        right: 850px;
      }
      @media (min-width: $breakpoint-large) {
        right: 990px;
      }
    }
    .sovbb-hero-image {
      object-fit: cover;
      left: 0px;
      height: 100%;
    }
  }
}
