// from https://google-webfonts-helper.herokuapp.com/

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("fonts/Roboto-700.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("fonts/Roboto-700-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("fonts/Roboto-400.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("fonts/Roboto-400-italic.woff2") format("woff2");
}

// 1. Your custom variables and variable overwrites.

$sovbb-red: rgb(227, 6, 19);
$sovbb-black: #000;
$sovbb-grey: #313131;
$sovbb-white: #fff;
$global-2xlarge-font-size: 2rem; // H1
$global-xlarge-font-size: 1.5625rem; // H2
$global-large-font-size: 1.3125rem; // H3
$global-large-fong-weight: 700;
$global-medium-font-size: 1.125rem; // H4
$base-heading-color: $sovbb-grey;
$base-body-color: $sovbb-grey;
$global-link-color: $sovbb-grey;
$global-link-hover-color: $sovbb-red;
$base-link-text-decoration: underline;
$global-font-family: Roboto, sans-serif;
$global-accent-color: $sovbb-red;
$offcanvas-bar-width: 320px;
$inverse-global-color: $sovbb-white;

$navbar-background: $sovbb-white;
$navbar-nav-item-text-transform: uppercase;
$navbar-nav-item-font-weight: 700;
$navbar-nav-item-color: $sovbb-grey;
$navbar-nav-item-hover-color: $sovbb-red;
$navbar-nav-item-active-color: $sovbb-red;
$navbar-nav-item-padding-horizontal: 1rem;
$navbar-nav-item-font-size: 1rem;
$navbar-nav-item-height: 0px;
$navbar-dropdown-nav-font-size: 1rem;
$navbar-dropdown-shift-margin: -10px;
$navbar-dropdown-viewport-margin: 0;
$navbar-dropdown-nav-item-color: $sovbb-black;
$navbar-dropdown-nav-item-active-color: $sovbb-red;
$navbar-dropdown-nav-item-hover-color: $sovbb-red;

$breadcrumb-item-font-size: 1rem;
$breadcrumb-item-color: $sovbb-grey;
$breadcrumb-item-hover-color: $sovbb-red;
$breadcrumb-item-active-color: $sovbb-red;
$breadcrumb-divider: "\\";
$breadcrumb-divider-margin-horizontal: 0.5em;
$breadcrumb-divider-color: $sovbb-grey;
$breadcrumb-item-decoration: none;
//$offcanvas-bar-color-mode: light;
//$offcanvas-bar-background: $sovbb-white;

// 2. Import default variables and available mixins.
@import "../uikit/src/scss/variables-theme.scss";
@import "../uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
// @mixin hook-card() {
//   color: #000;
// }

// 4. Import UIkit.
@import "../uikit/src/scss/uikit.scss";

.uk-navbar-nav > li > a,    // Nav item
.uk-navbar-item,            // Content item
.uk-navbar-toggle {
  // Clickable item
  font-weight: $navbar-nav-item-font-weight;
}

.uk-breadcrumb > li > a {
  text-decoration: none;
}
.sovbb-navbar {
  padding-top: 30px;
  padding-bottom: 30px;
  @media (min-width: $breakpoint-medium) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .uk-logo {
    @media (min-width: $breakpoint-medium) {
      margin-left: -80px;
    }
    img {
      height: 65px;
    }
  }
}

.sovbb-list {
  hyphens: auto;
  -webkit-hyphens: auto;
  margin-top: 4ex;
  margin-bottom: 4ex;
  em {
    font-style: normal;
    color: $sovbb-red;
  }
  .sovbb-item {
    break-inside: avoid;
    text-indent: -1.2em;
    padding-left: 1.2em;
    margin-bottom: 2ex;
  }
  > div:first-child {
    margin-bottom: 2ex;
  }
}


.sovbb-footer {
  margin-top: 8ex;
  font-size: 0.8rem;
  background-color: $sovbb-red;
  color: $sovbb-white;
  padding-top: 4ex;
  padding-bottom: 4ex;
  position: relative;

  a {
    color: $sovbb-white;
    &:hover {
      color: $sovbb-grey;
    }
    text-decoration: underline;
  }

  .sovbb-footer-flex {
    .sovbb-button-member-positioner {
      @media screen and (min-width: $breakpoint-large) {
        position: relative;
      }

      .sovbb-button-member {
        div {
          color: $sovbb-grey;
        }
        &:hover div {
          color: $sovbb-red;
        }

        top: -5ex;
        right: 2ex;
        @media screen and (min-width: $breakpoint-large) {
          top: -9ex;
          right: -8ex;
        }
        @media screen and (min-width: $breakpoint-large) {
          top: -8ex;
          right: -14ex;
        }
      }
    }
    flex-direction: column;
    @media screen and (min-width: $breakpoint-small) {
      flex-direction: row;
      margin-right: 10em;
    }
  }
}

.sovbb-navbar .uk-navbar-nav {
  .uk-parent {
    padding-top: 4.6ex;
  }
}

.sovbb-button-member {
  background-color: $sovbb-white;
  color: $sovbb-black;
  border-color: $sovbb-red;
  border-width: 3px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 100%;
  border-radius: 50%;
  font-weight: normal;
  text-align: center;
  transform: rotate(-15deg);
  width: 10ex;
  height: 10ex;
  @media (min-width: $breakpoint-large) {
    right: -4ex;
    font-size: 2rem;
  }
  font-size: 1.5rem;
  right: 1ex;
  bottom: -4ex;
  position: absolute;
  &:hover {
    text-decoration: none;
    color: $sovbb-red;
  }
}

// color settings are necessary because the offcanvas menu
// seems to be invered and I can not find the reseaon for this.
.sovbb-mobile-menu {
  .sovbb-x {
    width: 2rem;
  }
  .uk-offcanvas-bar {
    background-color: $sovbb-white;
    font-size: 1.4rem;
    a {
      color: $sovbb-black;
    }
    a[href]:not([href="#"]):hover,
    .uk-active > a {
      color: $sovbb-red;
    }

    .uk-nav {
      margin-top: 3ex;
      > li {
        position: relative;
        > a {
          color: $sovbb-black;
          display: block;
          margin: 0.4ex;
        }
        // a with href is more than 1 charecter long

        a[href]:not([href="#"]):hover,
        &.uk-active > a {
          color: $sovbb-red;
        }
        .uk-nav-sub {
          font-size: 1.3rem;
          & > li > a {
            display: block;
            margin-bottom: 1.4ex;
          }
        }
      }
    }
  }
}

.sovbb-mobilemenu-button {
  padding-top: 2ex;
}

.sovbb-hero-home {
  background-color: $sovbb-red;
  margin-bottom: 5ex;
  > div {
    padding-top: 45px;
    position: relative;
    height: 250px;
    padding-bottom: 45px;
    margin-bottom: 5ex;
    img {
      height: 100%;
    }
    @media (min-width: $breakpoint-medium) {
      height: 300px;
      padding-top: 60px;
      padding-bottom: 60px;
      margin-bottom: 0px;
    }
  }
}

.sovbb-hero-section {
  height: 190px;
  background-color: $sovbb-red;
  width: 100%;
  position: relative;
  overflow: hidden;
  .sovbb-hero-image-positioner {
    overflow: visible;
    display: inline-block;
    width: calc(100% + 300px);
    height: 190px;
    position: relative;
    .sovbb-hero-image {
      margin-left: 80px;
      @media (min-width: $breakpoint-medium) {
        margin-left: -20px;
      }

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .sovbb-hero-overlay {
      position: absolute;
      top: 0;
      @media (min-width: $breakpoint-medium) {
        left: -20px;
      }
      left: 80px;
      height: 100%;
      svg {
        height: 100%;
        polygon {
          fill: $sovbb-red;
        }
      }
    }
    .sovbb-hero-fader {
      @media (min-width: $breakpoint-medium) {
        position: absolute;
        top: 0;
        right: 20px;
        width: 100px;
        height: 100%;
        background: linear-gradient(to right, rgba($sovbb-red, 0), $sovbb-red);
      }
    }
  }
}

.sovbb-content {
  margin-bottom: 4ex;
  hyphens: auto;
  -webkit-hyphens: auto;
  > p:first-child {
    font-size: 1.2rem;
    @media screen and (min-width: $breakpoint-medium) {
      font-size: 1.5625rem;
    }
  }
  p {
    margin-top: 1ex;
    margin-bottom: 1ex;
  }
  li {
    margin-top: 1ex;
    margin-bottom: 1ex;
  }
}

.sovbb-person {
  .sovbb-name {
    margin-top: 2ex;
    font-size: $global-large-font-size;
  }
  .sovbb-function {
    margin-top: 0.5ex;
  }
}

.sovbb-links,
.sovbb-downloads {
  padding-left: 0;
  > li {
    position: relative;
    list-style-type: none;
    border-top: 1px solid $sovbb-grey;
    padding-left: 2em;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    a {
      color: inherit;
      text-decoration: none;
    }
    &:hover {
      color: $sovbb-red;
    }
    &:last-child {
      border-bottom: 1px solid $sovbb-grey;
    }
    &::before {
      content: " ";
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 1.3em;
      height: 1.3em;
      position: absolute;
      top: 1ex;
      left: 0;
    }
  }
}

.sovbb-agenda {
  @media screen and (min-width: $breakpoint-small) {
    display: grid;
    grid-template-columns:
      minmax(max-content, 1fr)
      auto
      minmax(max-content, 1fr);
    column-gap: 4em;
  }
  .sovbb-line {
    grid-column-start: 1;
    grid-column-end: 4;
    border-top: 1px solid $sovbb-grey;
    margin-top: 0ex;
    margin-bottom: 2ex;
  }
  .sovbb-date {
    margin-right: 2ex;
    width: min-content;
  }
  .sovbb-desc {
    h2 {
      font-size: inherit;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 2ex;
      @media screen and (min-width: $breakpoint-small) {
        margin-top: 0;
      }
    }
  }
  .sovbb-link {
    margin-top: 1ex;
    margin-bottom: 2ex;
    @media screen and (min-width: $breakpoint-small) {
      margin-top: 0;
    }

    a {
      color: $sovbb-grey;
      text-decoration: underline;
    }
    &:hover {
      a {
        color: $sovbb-red;
      }
    }
  }
}
