{{ if .IsHome }}
<div class="sovbb-hero-home uk-container-expand sovbb-hero uk-position-relative">
    <div class="uk-container uk-container-xsmall uk-container-large@l">
        <img src='{{ (resources.Get "img/sovbb_hero.svg").RelPermalink }}' alt="{{ $.Site.Title }}" />
        <a target="membership_form" href="{{ .Params.Links.membership.link}}" class="sovbb-button-member">
            <div>
                {{ .Params.Links.membership.text }}</div>
        </a>
    </div>
</div>
{{ else }}
<div class="sovbb-hero-section">
    <div class="uk-container">
        
        {{ $res := resources.Get (print "img/hero-" (or .Params.Hero .Section) ".jpg") }}
        {{ if $res }}
        <img class="sovbb-hero-image" src='{{ $res.Permalink }}' alt="">
        {{ end }}
        <img class="sovbb-hero-redbar" src='{{ (resources.Get "img/hero-redbar.svg").Permalink }}' alt="">
    </div>
</div>
{{ end }}
