{{ if .IsHome }}
<div class="sovbb-hero-home uk-container-expand sovbb-hero uk-position-relative">
    <div class="uk-container uk-container-small uk-container-large@l">
        <img src='{{ (resources.Get "img/sovbb_hero.svg").RelPermalink }}' alt="{{ $.Site.Title }}" />
        <a href="{{ .Params.Links.membership.link}}" class="sovbb-button-member">
            <div>
                {{ .Params.Links.membership.text }}</div>
        </a>
    </div>
</div>
{{ else }}
<div class="sovbb-hero-section">
    <div class="uk-container uk-container-small">

        {{ $res := resources.Get (print "img/hero-" (or .Params.Hero .Section) ".jpg") }}
        {{ if $res }}
        <div class="sovbb-hero-image-positioner">
            <img class="sovbb-hero-image" src='{{ $res.Permalink }}' alt="">

            <div class="sovbb-hero-overlay">
                <svg viewBox="0 0 47 152" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <polygon points="0,0 0,152 47,152" />
                </svg>
            </div>
            <div class="sovbb-hero-fader"></div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}