<div class="uk-navbar-container uk-box-shadow-small"
    uk-sticky="show-on-up: true; media: 640;animation: uk-animation-slide-top">
    <nav class="uk-container uk-container-small sovbb-navbar" uk-navbar>
        <div class="uk-navbar-left uk-flex-1">
            <ul class="uk-navbar-nav uk-flex-1 uk-flex-between">
                {{/* LOGO ################################ */}}
                {{ $logo := $.Site.Params.logo }}
                {{ if $logo }}
                <li>
                    <a class="uk-navbar-item uk-logo" href='{{ ($.Site.GetPage "/").RelPermalink }}'>
                        <img src='{{ (resources.Get (print "img/" $logo)).RelPermalink }}' alt="{{ $.Site.Title }}">
                    </a>
                </li>
                {{ end}}
                {{/* MAIN MENU ################################ */}}
                {{ partial "mainmenu.html" . }}
                {{/* MOBILE MENU BUTTON########################### */}}
                <li class="sovbb-mobilemenu-button uk-hidden@m">
                    <a href="#sovbb-offcanvas-nav" uk-toggle><img style='width: 2rem;' src='{{ (resources.Get "img/sovbb_mobilemenu.svg").RelPermalink }}'/></a>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>