{{ define "main" }}
<main role="main">
    <div class="uk-container-expand sovbb-hero uk-position-relative">
        <div class="uk-container uk-container-xsmall uk-container-large@l">
            <img src='{{ (resources.Get "img/sovbb_hero.svg").RelPermalink }}' alt="{{ $.Site.Title }}" />
            <a target="membership_form" href="{{ .Params.Links.membership.link}}" class="sovbb-button-member">
                <div>
                    {{ .Params.Links.membership.text }}</div>
            </a>
        </div>
    </div>
    <div class="uk-container uk-container-xsmall">
        <div class="sovbb-intro">{{ .Params.Intro }}</div>
        <div class="sovbb-body">
            {{.Content}}
        </div>
        {{ with .Params.Reasons }}
        <div class="sovbb-reasons">
            <div>{{ .Intro | markdownify }} …</div>
            <div class="uk-column-1-2@s">
                {{ range .Items }}
                <div class="sovbb-reason">
                    … {{ . | markdownify }}
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
    <div class="uk-container-expand sovbb-invite">
        
        <div class="uk-container uk-container-xsmall uk-position-relative">
            {{ with .Params.Invite }}
            <h2>{{ .Title }}</h2>
            <p>{{ .Text }}</p>
            {{ if .Details }}
            <dl>
                {{ range .Details }}
                <dt>{{ .Key }}</dt>
                <dd>{{ .Value }}</dd>
                {{ end }}
            </dl>
            {{ end }}
            {{ end }}
            <a target="rsvp_form" href="{{ .Params.Links.rsvp.link}}" class="sovbb-button-rsvp">
                <div>
                    {{ .Params.Links.rsvp.text }}</div>
            </a>
        </div>
    </div>
</main>
{{ end }}